h1 {
    text-align: center;
    color: white;
}
.div1{
    height: 300px;
    width: 300px;
    background-color: red;
}
.div2{
    height: 300px;
    width: 300px;
    background-color: white;
}
.div3{
    height: 300px;
    width: 300px;
    background-color: blue;
}

.divmaman{
    display: flex;
    margin-left: 10em;
}