h1 {
    text-align: center;
    margin: block;
    font-size: 5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: initial;
    color: white;
}
h2{
    text-align: center;
    color: white;
}
p{
    color: white;
}
table{
    color: white;
    text-align: center;
}